$layoutMainPaddingY: rem(25);
$layoutMainPaddingX: rem(45);


html, body, #app>.row:first-of-type{
    min-height: 100vh;
}

.h-inherit{
    min-height: inherit;
}

main{
    margin-top: rem(50);
    height: 100%;
}

.container{
    max-width: unset;
    padding: 0 rem(60);
}

.btn-font-size{
 font-size: rem(13);
}

h4, .h4{
    font-weight: $font-weight-normal;
}


.btn-more{
    display: inline-flex;
    align-items: center;
    text-transform: uppercase;
    z-index: 1;
    color: $white;
    text-decoration: unset;
    font-size: rem(13);
    margin-top: rem(20);
    &:after{
        content: '';
        display: block;
        width: rem(27);
        height: rem(27);
        background-image: url("../assets/more.svg");
        margin-left: rem(8);
    }
    &.text-primary{
        &:after{
            filter: brightness(0) saturate(100%) invert(10%) sepia(7%) saturate(7382%) hue-rotate(230deg) brightness(89%) contrast(107%);
        }
    }
}

.btn-arrow{
    &:after {
        content: '';
        display: block;
        width: rem(21);
        height: rem(14);
        background-image: url("../assets/arrow.svg");
    }
}

// CARD ----------------------------------------------------------------------------------------------

.card {
    padding: rem(24) rem(30);
    min-height: rem(385);

    &-bg-image {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    h2 {
        font-weight: $font-weight-medium;
        margin-bottom: rem(10);
    }

    h4 {
        margin-bottom: rem(15);
    }
}

// HEADER -------------------------------------------------------------------------------------------------------------------------------------------


header{
    padding: $layoutMainPaddingY $layoutMainPaddingX;
}

header{
    width: 100%;
    background-color: $white;
    border-radius: rem(20);
    -webkit-box-shadow: 4px 4px 10px 4px rgba(115, 45, 145, 0.16);
    -moz-box-shadow: 4px 4px 10px 4px rgba(115, 45, 145, 0.16);
    box-shadow: 4px 4px 10px 4px rgba(115, 45, 145, 0.16);
    a{  
        font-size: rem(20);
        color: $primary;
        text-decoration: unset;
        display: inline-flex;
        align-items: center;
    }
    i{
        font-size: rem(30);
        margin-right: rem(15);
        line-height: 1;
    }
    .bi-plus-lg{
        font-size: rem(40);
    }
    .bi-bell{
        margin-right: unset;
    }
    .d-flex{
        &>a{
            &:not(:last-of-type){
                margin-right: rem(56);
            }
        }
    }
}

// NAV ---------------------------------------------------------------------------------------------------------------------------------

nav{
    background: $white;
    height: 100%;
    -webkit-box-shadow: 4px 7px 10px 4px rgba(115, 45, 145, 0.16);
    -moz-box-shadow: 4px 7px 10px 4px rgba(115, 45, 145, 0.16);
    box-shadow: 4px 7px 10px 4px rgba(115, 45, 145, 0.16);
    &.navbar{
        padding: rem(24) rem(18);
    }
    .navbar-nav{
        margin-top: rem(110);
        width: 100%;
    }
    .nav-link{
        color: $primary;
        display: inline-flex;
        align-items: center;
        padding: rem(17);
        width: 100%;
        border-radius: rem(20);
        transform: $transition-base;
        &:not(.router-link-active){
            padding: rem(19) rem(17);
        }
        &.router-link-active{
            background-color: $secondary;
            font-size: rem(20);
        }
        i{
            font-size: rem(25);
            margin-right: rem(23);
            line-height: 1;
        }
    }

    .router-link-active{
        color: $navbar-light-hover-color;
    }
    .navbar-logo{
        display: block;
        background-color: $primary;
        padding: rem(14) rem(11);
        border-radius: rem(20);
        -webkit-box-shadow: 2px 5px 6px 0px rgba(115, 45, 145, 0.25);
        -moz-box-shadow: 2px 5px 6px 0px rgba(115, 45, 145, 0.25);
        box-shadow: 2px 5px 6px 0px rgba(115, 45, 145, 0.25);
        img{
            width: rem(68);
            height: rem(61);
        }
    }
}


// MY WORKS -------------------------------------------------------------------------------------------------------------------------------

.swiper{
    .swiper-button-prev, .swiper-button-next{
        &:after{
            content: '';
            display: block;
            width: rem(19);
            height: rem(29);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
        }
    }
    .swiper-button-prev{
        &:after{
            background-image: url('../assets/prev.svg');
        }
    }
    .swiper-button-next {
        &:after {
            background-image: url('../assets/next.svg');
        }
    }
}

.my-works-overview{
    position: relative;
    .btn-more{
        position: absolute;
        bottom: rem(27);
        right: rem(35);
    }
}

// MY FINANCES ------------------------------------------------------------------------------------------------------------------------------------

.finances-project {
    margin-top: rem(20);
    .finances-bar {
        width: 100%;
        height: rem(28);
        border-radius: rem(10);
        background-color: #F1F0F0;
        &-color {
            border-radius: inherit;
            height: 100%;
        }
    }
}


// CALENDAR ------------------------------------------------------------------------------------------------------------------------------

.card{
    &-calendar{
        max-height: rem(385);

        .vuecal__title-bar{
            align-items: start;
            background-color: unset;
        }
        
        .vuecal{
            &__arrow{
                padding: unset;
            }
            &__title{
                button {
                    padding: unset;
                    font-size: $h2-font-size;
                }
            }
        }

        .vuecal__cell{
            padding: rem(3) 0;
            &:not(.vuecal__cell--today){
                .vuecal__cell-content {
                    // background-color: rgba(218, 160, 237, 1);
                    // background-image: linear-gradient(50deg, rgba(218, 160, 237, 1) 0%, rgba(191, 132, 210, 1) 100%);
                }
            }
            &--today{
                .vuecal__cell-content{
                    border: 1px solid $secondary;
                }
            }
        }
        
    }
}

// SIDEBAR ICONS ---------------------------------------------------------------------------------------------------------

.sidebar-icons{
    margin-top: rem(22);
    text-align: center;
    .bi-balloon-heart{
        font-size: rem(70);
        display: inline-flex;
    }
    .bi-chat-quote {
        font-size: rem(50);
    }
}